header {
  background-color: #333333;
  width: 100%;
  margin-bottom: 55px;
}

body {
  /* border: red 3px solid; */
  /* gap: 20px; */
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 25px;
}
h2 {
  font-size: 20px;
}

body p {
  font-size: 12px;
}

jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  margin: 0 auto;
  justify-content: space-between;
  /* border: red 8px solid; */
  width: 1024px;
  height: 100%;
}

.red {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: #e30413 8px solid;
}

.blue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: blue 8px solid;
}

.green {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: #3ea535 8px solid;
}

.yellow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: #ffee00 8px solid;
}

.pink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: #f8c5af 8px solid;
}

footer {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #dddddd;
  padding: 30px;
}
footer p {
  text-align: center;
}
